<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/signinup.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
        <title>Sign In</title>
    </head>
    <body>
        <div class="signinup-container">
            <div class="signinup-wrapper">
                <div class="image-container">
                    <img src="/images/banner.png" alt="">
                </div>
                <div class="form-container">
                    <div class="form-wrapper">
                        <div class="form-title">Sign In</div>
                        <form action="" method="POST">
                            <div class="signinup-input">
                                <label for="">Email</label>
                                <input type="email" name="email" value="<%= locals.values ? locals.values.email : '' %>">
                                <div class="icon-error">
                                    <i class="ri-error-warning-line"></i>
                                </div>
                            </div>
                            <div class="signinup-input">
                                <label for="">Password</label>
                                <input type="password" name="password" value="<%= locals.values ? locals.values.password : '' %>">
                                <div class="icon-error">
                                    <i class="ri-error-warning-line"></i>
                                </div>
                            </div>
                            <div class="btn-signin-form">
                                <button id="btn-signin">Login</button>
                            </div>
                        </form>
                        <div class="signinup-status">
                            <span>Don't have any account? <a href="/auth/register">Sign Up</a></span>
                        </div>
                        <a href="/auth/google" style="text-decoration: none;">
                            <div class="signin-with-gg-container">
                                <div class="signin-with-gg-icon">
                                    <i class="ri-google-fill"></i>
                                </div>
                                <div class="signin-with-gg-text">
                                    <span>Sign in with Google</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <% if(locals.error) { %>
        <script src="/js/errorAuth.js"></script>
        <% }; %>
    </body>
</html>

