<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/signinup.css">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
        <title>Sign Up</title>
    </head>
    <body>
        <div class="signinup-container">
            <div class="signinup-wrapper">
                <div class="image-container">
                    <img src="/images/banner.png" alt="">
                </div>
                <div class="form-container">
                    <div class="form-signup-wrapper">
                        <div class="form-title">Sign Up</div>
                        <form action="" method="POST">
                            <div class="signinup-input">
                                <label for="">Username</label>
                                <input type="text" name="name">
                            </div>
                            <div class="signinup-input">
                                <label for="">Email</label>
                                <input type="text" name="email">
                            </div>
                            <div class="signinup-input">
                                <label for="">Password</label>
                                <input type="password" name="password">
                            </div>
                            <div class="signinup-input">
                                <label for="">Confirm Password</label>
                                <input type="password" name="confirmpassword">
                            </div>
                            <% if(locals.errors) { %>
                                <% errors.forEach(function(error) { %>
                                <div class="show-error-container">
                                    <div class="show-error-wrapper">
                                        <span class="content-error"><%= error %></span>  
                                        <span class="icon-warning"><i class="ri-error-warning-line"></i></span>
                                    </div>
                                </div>
                                <% }); %>
                            <% };%>
                            <div class="btn-signin-form">
                                <button id="btn-signin">Sign Up</button>
                            </div>
                        </form>
                        <div class="signinup-status">
                            <span>You have an account? <a href="/auth/login">Sign In</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>