<div class="player">
    <div class="audio-control-bar">
        <% if(locals.song) { %> 
            <div class="audio-info-bar">
                <div class="audio-track">
                    <img src="<%= song.image %>" alt="" id="song-image">
                </div>
                <div class="audio-content">
                    <a href="#"><span id="song-name"><%= song.name %></span></a>
                    <br>
                    <a href="#"><span id="song-artist"><%= song.artist %></span></a>
                    <audio id="song-audio" src="<%= song.audio %>"></audio>
                </div>
            </div>  
        <% } else { %>
            <div class="audio-info-bar">
                <div class="audio-track">
                    <img src="https://st3.depositphotos.com/23594922/31822/v/600/depositphotos_318221368-stock-illustration-missing-picture-page-for-website.jpg" alt="" id="song-image2">
                </div>
                <div class="audio-content">
                    <a href="#"><span id="song-name2"></span></a>
                    <br>
                    <a href="#"><span id="song-artist2"></span></a>
                    <audio id="song-audio" src=""></audio>
                </div>
            </div>  
        <% } %>
        <div class="control-bar">
            <div class="control-bar__controls">
                <button class="btn btn-random" title="Random"><i class="ri-shuffle-line"></i></button>
                <button class="btn btn-prev"><i class="ri-skip-back-fill"></i></button>
                <button class="btn btn-toggle-play">
                    <i class="ri-play-circle-fill icon-play"></i>
                    <i class="ri-pause-circle-fill icon-pause"></i>
                </button>
                <button class="btn btn-next"><i class="ri-skip-forward-fill"></i></button>
                <button class="btn btn-repeat"><i class="ri-repeat-2-line"></i></button>
            </div>
            <div class="progress-bar">
                <div class="progress-bar__current">
                    <span class="current-time">00:00</span>
                </div>
                <div class="progress-bar__slider">
                    <div class="progress__total">
                        <div class="progress__level"></div>
                    </div>
                </div>
                <div class="progress-bar__duration">
                    <span class="duration-time"></span>
                </div>
            </div>
        </div>
        <div class="extra-control">
            <div class="volume-container">
                <button class="volume-toggle">
                    <i class="ri-volume-up-line icon-unmute"></i>
                    <i class="ri-volume-mute-line icon-mute"></i>
                </button>
                <div class="volume-slider">
                    <div class="volume-slider__total">
                        <div class="volume-slider__level"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="/js/audio.js"></script>
