<div class="player">
    <div class="audio-control-bar">
        <div class="audio-info-bar">
            <div class="audio-track">
                <img src="https://i1.sndcdn.com/artworks-000220086310-6z7vf7-t500x500.jpg" alt="">
            </div>
            <div class="audio-content">
                <span>Something Just Like This</span>
                <br>
                <span>The Chainsmokers x Coldplay</span>
            </div>
        </div>
        <div class="control-bar">
            <div class="control-bar__controls">
                <button class="btn btn-random" title="Random"><i class="ri-shuffle-line"></i></button>
                <button class="btn btn-prev"><i class="ri-skip-back-fill"></i></button>
                <button class="btn btn-toggle-play">
                    <i class="ri-play-circle-fill icon-play"></i>
                    <i class="ri-pause-circle-fill icon-pause"></i>
                </button>
                <button class="btn btn-next"><i class="ri-skip-forward-fill"></i></button>
                <button class="btn btn-repeat"><i class="ri-repeat-2-line"></i></button>
            </div>
            <div class="progress-bar">
                <div class="progress-bar__current">
                    <span class="current">0:00</span>
                </div>
                <div class="progress-bar__slider">
                    <div class="progress__total">
                        <div class="progress__level"></div>
                    </div>
                </div>
                <div class="progress-bar__duration">
                    <span class="duration">3:10</span>
                </div>
            </div>
        </div>
        <div class="extra-control">
            <div class="volume-container">
                <button class="volume-toggle">
                    <i class="ri-volume-up-line icon-unmute"></i>
                    <i class="ri-volume-mute-line icon-mute"></i>
                </button>
                <div class="volume-slider">
                    <div class="volume-slider__total">
                        <div class="volume-slider__level"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>