<aside class="sidebar">
    <div class="sidebar-logo">
        <a href="#" class="header-logo">
            <img src="https://img.freepik.com/free-vector/note-music-logo-design_93835-645.jpg?size=338&ext=jpg" alt="">
            <div class="title-logo">
                <span>Music Cloud</span>
            </div>
        </a>
        <div class="icon-menu-sidebar">
            <div class="menu-btn">
                <div class="toggle-bars">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-sidebar">
        <ul class="sidebar-side">
            <li class="sidebar-header">Brower Music</li>
            <li class="sidebar-item">
                <a href="/" class="sidebar-link">
                    <i class="fas fa-home"></i>
                    <span>Home</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="fas fa-headphones-alt"></i>
                    <span>Latest</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="fas fa-th-large"></i>
                    <span>Category</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="fas fa-microphone"></i>
                    <span>Artists</span>
                </a>
            </li>
            <li class=" sidebar-header">Your Music</li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="ri-play-list-line"></i>
                    <span>Playlist</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="far fa-heart"></i>
                    <span>Favourites</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="ri-equalizer-line"></i>
                    <span>Setting</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="ri-history-line"></i>
                    <span>History</span>
                </a>
            </li>
            <li class="sidebar-header">Admin</li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="ri-line-chart-line"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="ri-add-line"></i>
                    <span>Add Music</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="ri-file-list-line"></i>
                    <span>Your post</span>
                </a>
            </li>
        </ul>
    </div>
</aside>