<link rel="stylesheet" href="/css/category.css">

<div class="allsong-container">
    <div class="allsong-wrapper">
        <div class="category-container">
            <div class="category-title">
                <div class="title">
                    <h2>Category</h2>
                </div>
            </div>
            <div class="category-wrapper">
                <div class="category-box">
                    <a href="/category/classical">
                        <div class="category-image">
                            <img src="https://i1.wp.com/whimsicalwonderlandweddings.com/wp-content/uploads/2018/09/Northern-Violin-2.jpg?resize=960%2C640&ssl=1" alt="">
                            <div class="category-text-box">
                                <span>Classical</span>
                            </div>
                        </div>
                    </a>
                </div>  
                <div class="category-box">
                    <a href="/category/country">
                        <div class="category-image">
                            <img src="https://townsquare.media/site/204/files/2018/04/Taylor-Country-Comeback.jpg?w=980&q=75" alt="">
                            <div class="category-text-box">
                                <span>Country</span>  
                            </div>
                        </div>
                    </a>
                </div>  
                <div class="category-box">
                    <a href="/category/edm">
                        <div class="category-image">
                            <img src="https://cdn.digitaldjtips.com/app/uploads/2014/08/06035221/How-To-Mix-Six-Tips-For-Complete-Beginner-Digital-DJs-copy-1204x642.jpg" alt="">
                            <div class="category-text-box">
                                <span>EDM</span>
                            </div>
                        </div>
                    </a>
                </div> 
                <div class="category-box">
                    <a href="/category/hiphop">
                        <div class="category-image">
                            <img src="https://www.udiscovermusic.com/wp-content/uploads/2016/02/Hip-Hop-In-20-Songs-artwork-web-optimised-1000.jpg" alt="">
                            <div class="category-text-box">
                                <span>Hip-hop</span>
                            </div>
                        </div>
                    </a>
                </div> 
                <div class="category-box">
                    <a href="/category/jazz">
                        <div class="category-image">
                            <img src="https://www.elleman.vn/wp-content/uploads/2016/09/20/The-Reverie-Saigon-ra-m%E1%BA%AFt-ch%C6%B0%C6%A1ng-tr%C3%ACnh-nh%E1%BA%A1c-jazz-s%E1%BB%91ng-%C4%91%E1%BB%99ng-475x267.jpg" alt="">
                            <div class="category-text-box">
                                <span>Jazz</span>
                            </div>
                        </div>
                    </a>
                </div> 
                <div class="category-box">
                    <a href="/category/kpop">
                        <div class="category-image">
                            <img src="https://bloganchoi.com/wp-content/uploads/2021/02/black-pink.jpg" alt="">
                            <div class="category-text-box">
                                <span>Kpop</span>
                            </div>
                        </div>
                    </a>
                </div> 
                <div class="category-box">
                    <a href="/category/pop">
                        <div class="category-image">
                            <img src="https://ca-times.brightspotcdn.com/dims4/default/91665e0/2147483647/strip/true/crop/2048x1152+0+0/resize/1486x836!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F53%2Fee%2Fd757603e1686a76c6895211b4b70%2Fla-1526433194-6oe63vlztw-snap-image" alt="">
                            <div class="category-text-box">
                                <span>Pop</span> 
                            </div>
                        </div>
                    </a>
                </div>  
                <div class="category-box">
                    <a href="/category/rap">
                        <div class="category-image">
                            <img src="https://saigondance.files.wordpress.com/2018/10/image34.jpg" alt="">
                            <div class="category-text-box">
                                <span>Rap</span>
                            </div>
                        </div>
                    </a>
                </div> 
                <div class="category-box">
                    <a href="/category/r&b">
                        <div class="category-image">
                            <img src="https://www.rollingstone.com/wp-content/uploads/2019/12/SummerWalker.jpg?w=800" alt="">
                            <div class="category-text-box">
                                <span>R&b</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="category-box">
                    <a href="/category/rock">
                        <div class="category-image">
                            <img src="https://images.saymedia-content.com/.image/t_share/MTc0OTkyOTg1NDUxMjc1NzE2/100-best-bollywood-rock-songs.jpg" alt="">
                            <div class="category-text-box">
                                <span>Rock</span>
                            </div>
                        </div>
                    </a>
                </div> 
            </div>
        </div>
    </div>
</div>

