<div class="carousel-container">
    <div class="carousel-wrapper">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <img src="https://i.pinimg.com/originals/31/24/77/31247762da16489a112dcf83e868cce2.jpg" alt="">
                <div class="item-content">
                    <span>Music is a good way to relax</span>
                </div>
            </div>
        </div>
        <div class="tab-container">
            <div class="tab-wrapper">
                <div class="tabs-title">
                    <div class="tab-item active">
                        <span>Trending</span>
                    </div>
                    <div class="tab-item">
                        <span>Artist</span>
                    </div>
                    <div class="tab-item">
                        <span>National</span>
                    </div>
                </div>
                <div class="tabs-content">
                    <div class="tab-pane active">
                        <div class="tab-pane-block">
                            <div class="song-list-number">
                                <span>1</span>
                            </div>
                            <div class="song-list-image">
                                <img src="https://i1.sndcdn.com/artworks-000542141223-xzig0f-t500x500.jpg" alt="">
                            </div>
                            <div class="song-list-info">
                                <span>Bad Guy</span>
                                <span>Billie Eilish</span>
                            </div>
                            <div class="song-list-icon">
                                <i class="ri-more-2-line"></i>
                            </div>
                        </div>
                        <div class="tab-pane-block">
                            <div class="song-list-number">
                                <span>1</span>
                            </div>
                            <div class="song-list-image">
                                <img src="https://i1.sndcdn.com/artworks-000542141223-xzig0f-t500x500.jpg" alt="">
                            </div>
                            <div class="song-list-info">
                                <span>Bad Guy</span>
                                <span>Billie Eilish</span>
                            </div>
                            <div class="song-list-icon">
                                <i class="ri-more-2-line"></i>
                            </div>
                        </div>
                        <div class="tab-pane-block">
                            <div class="song-list-number">
                                <span>1</span>
                            </div>
                            <div class="song-list-image">
                                <img src="https://i1.sndcdn.com/artworks-000542141223-xzig0f-t500x500.jpg" alt="">
                            </div>
                            <div class="song-list-info">
                                <span>Bad Guy</span>
                                <span>Billie Eilish</span>
                            </div>
                            <div class="song-list-icon">
                                <i class="ri-more-2-line"></i>
                            </div>
                        </div>
                        <div class="tab-pane-block">
                            <div class="song-list-number">
                                <span>1</span>
                            </div>
                            <div class="song-list-image">
                                <img src="https://i1.sndcdn.com/artworks-000542141223-xzig0f-t500x500.jpg" alt="">
                            </div>
                            <div class="song-list-info">
                                <span>Bad Guy</span>
                                <span>Billie Eilish</span>
                            </div>
                            <div class="song-list-icon">
                                <i class="ri-more-2-line"></i>
                            </div>
                        </div>
                        <div class="tab-pane-block">
                            <div class="song-list-number">
                                <span>1</span>
                            </div>
                            <div class="song-list-image">
                                <img src="https://i1.sndcdn.com/artworks-000542141223-xzig0f-t500x500.jpg" alt="">
                            </div>
                            <div class="song-list-info">
                                <span>Bad Guy</span>
                                <span>Billie Eilish</span>
                            </div>
                            <div class="song-list-icon">
                                <i class="ri-more-2-line"></i>
                            </div>
                        </div>
                        <div class="tab-pane-block">
                            <div class="song-list-number">
                                <span>1</span>
                            </div>
                            <div class="song-list-image">
                                <img src="https://i1.sndcdn.com/artworks-000542141223-xzig0f-t500x500.jpg" alt="">
                            </div>
                            <div class="song-list-info">
                                <span>Bad Guy</span>
                                <span>Billie Eilish</span>
                            </div>
                            <div class="song-list-icon">
                                <i class="ri-more-2-line"></i>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane">
                        <div class="tab-pane-block">
                            <div class="song-list-number">
                                <span>1</span>
                            </div>
                            <div class="song-list-image">
                                <img src="https://i1.sndcdn.com/artworks-000542141223-xzig0f-t500x500.jpg" alt="">
                            </div>
                            <div class="song-list-info">
                                <span>Bad Guy</span>
                                <span>Billie Eilish</span>
                            </div>
                            <div class="song-list-icon">

                            </div>
                        </div>
                        <div class="tab-pane-block">
                            <div class="song-list-number">
                                <span>1</span>
                            </div>
                            <div class="song-list-image">
                                <img src="https://i1.sndcdn.com/artworks-000542141223-xzig0f-t500x500.jpg" alt="">
                            </div>
                            <div class="song-list-info">
                                <span>Bad Guy</span>
                                <span>Billie Eilish</span>
                            </div>
                            <div class="song-list-icon">

                            </div>
                        </div>
                        <div class="tab-pane-block">
                            <div class="song-list-number">
                                <span>1</span>
                            </div>
                            <div class="song-list-image">
                                <img src="https://i1.sndcdn.com/artworks-000542141223-xzig0f-t500x500.jpg" alt="">
                            </div>
                            <div class="song-list-info">
                                <span>Bad Guy</span>
                                <span>Billie Eilish</span>
                            </div>
                            <div class="song-list-icon">

                            </div>
                        </div>
                        <div class="tab-pane-block">
                            <div class="song-list-number">
                                <span>1</span>
                            </div>
                            <div class="song-list-image">
                                <img src="https://i1.sndcdn.com/artworks-000542141223-xzig0f-t500x500.jpg" alt="">
                            </div>
                            <div class="song-list-info">
                                <span>Bad Guy</span>
                                <span>Billie Eilish</span>
                            </div>
                            <div class="song-list-icon">

                            </div>
                        </div>
                        <div class="tab-pane-block">
                            <div class="song-list-number">
                                <span>1</span>
                            </div>
                            <div class="song-list-image">
                                <img src="https://i1.sndcdn.com/artworks-000542141223-xzig0f-t500x500.jpg" alt="">
                            </div>
                            <div class="song-list-info">
                                <span>Bad Guy</span>
                                <span>Billie Eilish</span>
                            </div>
                            <div class="song-list-icon">

                            </div>
                        </div>
                        <div class="tab-pane-block">
                            <div class="song-list-number">
                                <span>1</span>
                            </div>
                            <div class="song-list-image">
                                <img src="https://i1.sndcdn.com/artworks-000542141223-xzig0f-t500x500.jpg" alt="">
                            </div>
                            <div class="song-list-info">
                                <span>Bad Guy</span>
                                <span>Billie Eilish</span>
                            </div>
                            <div class="song-list-icon">

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane">
                        <span>Ohnonono</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="topsong-container">
    <div class="topsong-title">
        <div class="title">
            <h2>Top Song</h2>
        </div>
        <div class="viewmore">
            <a href="#">
                <h3>View More</h3>
                <i class="ri-arrow-right-s-line"></i>
            </a>
        </div>
    </div>
    <div class="topsong-wrapper">
        <div class="topsong-box">
            <a href="#">
                <div class="song-image">
                    <img src="https://i1.sndcdn.com/artworks-gPFtuwL4Zfu0-0-t500x500.jpg" alt="">
                    <div class="btn-play">
                        <i class="ri-play-circle-line"></i>  
                    </div>
                </div>
            </a>
            <div class="song-info">
                <span>One Call Away</span>
                <br>
                <span>Charlie Puth</span>
            </div>
        </div>
        <div class="topsong-box">
            <a href="#">
                <div class="song-image">
                    <img src="https://i1.sndcdn.com/artworks-gPFtuwL4Zfu0-0-t500x500.jpg" alt="">
                    <div class="btn-play">
                        <i class="ri-play-circle-line"></i>  
                    </div>
                </div>
            </a>
            <div class="song-info">
                <span>One Call Away</span>
                <br>
                <span>Charlie Puth</span>
            </div>
        </div>
        <div class="topsong-box">
            <a href="#">
                <div class="song-image">
                    <img src="https://i1.sndcdn.com/artworks-gPFtuwL4Zfu0-0-t500x500.jpg" alt="">
                    <div class="btn-play">
                        <i class="ri-play-circle-line"></i>  
                    </div>
                </div>
            </a>
            <div class="song-info">
                <span>One Call Away</span>
                <br>
                <span>Charlie Puth</span>
            </div>
        </div>
        <div class="topsong-box">
            <a href="#">
                <div class="song-image">
                    <img src="https://i1.sndcdn.com/artworks-gPFtuwL4Zfu0-0-t500x500.jpg" alt="">
                    <div class="btn-play">
                        <i class="ri-play-circle-line"></i>  
                    </div>
                </div>
            </a>
            <div class="song-info">
                <span>One Call Away</span>
                <br>
                <span>Charlie Puth</span>
            </div>
        </div>
        <div class="topsong-box">
            <a href="#">
                <div class="song-image">
                    <img src="https://i1.sndcdn.com/artworks-gPFtuwL4Zfu0-0-t500x500.jpg" alt="">
                    <div class="btn-play">
                        <i class="ri-play-circle-line"></i>  
                    </div>
                </div>
            </a>
            <div class="song-info">
                <span>One Call Away</span>
                <br>
                <span>Charlie Puth</span>
            </div>
        </div>
        <div class="topsong-box">
            <a href="#">
                <div class="song-image">
                    <img src="https://i1.sndcdn.com/artworks-gPFtuwL4Zfu0-0-t500x500.jpg" alt="">
                    <div class="btn-play">
                        <i class="ri-play-circle-line"></i>  
                    </div>
                </div>
            </a>
            <div class="song-info">
                <span>One Call Away</span>
                <br>
                <span>Charlie Puth</span>
            </div>
        </div>
    </div>
</div>

<div class="topsong-container">
    <div class="topsong-title">
        <div class="title">
            <h2>New Release</h2>
        </div>
        <div class="viewmore">
            <a href="#">
                <h3>View More</h3>
                <i class="ri-arrow-right-s-line"></i>
            </a>
        </div>
    </div>
    <div class="topsong-wrapper">
        <div class="topsong-box">
            <a href="#">
                <div class="song-image">
                    <img src="https://i1.sndcdn.com/artworks-gPFtuwL4Zfu0-0-t500x500.jpg" alt="">
                    <div class="btn-play">
                        <i class="ri-play-circle-line"></i>  
                    </div>
                </div>
            </a>
            <div class="song-info">
                <span>One Call Away</span>
                <br>
                <span>Charlie Puth</span>
            </div>
        </div>
        <div class="topsong-box">
            <a href="#">
                <div class="song-image">
                    <img src="https://i1.sndcdn.com/artworks-gPFtuwL4Zfu0-0-t500x500.jpg" alt="">
                    <div class="btn-play">
                        <i class="ri-play-circle-line"></i>  
                    </div>
                </div>
            </a>
            <div class="song-info">
                <span>One Call Away</span>
                <br>
                <span>Charlie Puth</span>
            </div>
        </div>
        <div class="topsong-box">
            <a href="#">
                <div class="song-image">
                    <img src="https://i1.sndcdn.com/artworks-gPFtuwL4Zfu0-0-t500x500.jpg" alt="">
                    <div class="btn-play">
                        <i class="ri-play-circle-line"></i>  
                    </div>
                </div>
            </a>
            <div class="song-info">
                <span>One Call Away</span>
                <br>
                <span>Charlie Puth</span>
            </div>
        </div>
        <div class="topsong-box">
            <a href="#">
                <div class="song-image">
                    <img src="https://i1.sndcdn.com/artworks-gPFtuwL4Zfu0-0-t500x500.jpg" alt="">
                    <div class="btn-play">
                        <i class="ri-play-circle-line"></i>  
                    </div>
                </div>
            </a>
            <div class="song-info">
                <span>One Call Away</span>
                <br>
                <span>Charlie Puth</span>
            </div>
        </div>
        <div class="topsong-box">
            <a href="#">
                <div class="song-image">
                    <img src="https://i1.sndcdn.com/artworks-gPFtuwL4Zfu0-0-t500x500.jpg" alt="">
                    <div class="btn-play">
                        <i class="ri-play-circle-line"></i>  
                    </div>
                </div>
            </a>
            <div class="song-info">
                <span>One Call Away</span>
                <br>
                <span>Charlie Puth</span>
            </div>
        </div>
        <div class="topsong-box">
            <a href="#">
                <div class="song-image">
                    <img src="https://i1.sndcdn.com/artworks-gPFtuwL4Zfu0-0-t500x500.jpg" alt="">
                    <div class="btn-play">
                        <i class="ri-play-circle-line"></i>  
                    </div>
                </div>
            </a>
            <div class="song-info">
                <span>One Call Away</span>
                <br>
                <span>Charlie Puth</span>
            </div>
        </div>
    </div>
</div>