<div class="song-detail-container">
    <div class="song-detail-wrapper">
        <div class="song-detail-header">
            <img src="https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1055&q=80" alt="" class="song-background">
            <div class="song-detail">
                <div class="song-detail-image">
                    <img src="https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1055&q=80" alt="">
                </div>
                <div class="song-detail-info">
                    <span>Something just like this</span>
                    <br>
                    <span>The Chainsmokers & Coldplay</span>
                </div>
            </div>
        </div>
    </div>
</div>