@media screen and (max-width: 1300px) {
    /* Sidebar */
    .sidebar {
        transition: all 0.4s ease-in-out;
        width: 17.5rem;
        left: -17.5rem;
    }
    .sidebar-header,
    .sidebar-item,
    .sidebar-logo {
        display: none;
    }

    .navbar,
    .content-page {
        margin-left: 0;
        transition: all 0.4s ease-in-out;
    }
    /* Navbar */
    .search-box {
        padding: 15px 0;
    }
    .toggle-bar-responsive {
        display: block;
    }
    .sidebar.open {
        transition: all 0.4s ease-in-out;
        width: 17.5rem;
        left: 0;
        z-index: 999;
    }
    .sidebar.open .sidebar-header,
    .sidebar.open .sidebar-item ,
    .sidebar.open .sidebar-logo {
        display: flex;
    }
    /*  */
    .carousel-wrapper {
        flex-wrap: wrap;
    }
    .tab-container {
        width: 98.1%;
    }
    .tabs-title {
        justify-content: space-around;
    }
    .player {
        width: 100%;
    }
    .audio-info-bar {
        display: none;
    }
    .audio-control-bar {
        flex-wrap: wrap;
    }

    /* Post */
    .admin-post-input input, 
    .admin-post-input label,
    .admin-post-title,
    .admin-input-select,
    #lyric {
        width: 80%;
    }
    .admin-post-wrapper {
        padding: 15px;
    }
    .admin-post-center {
        margin: 30px 60px;
    }
}
@media screen and (max-width: 1200px) {
    .tab-profile-item {
        padding: 10px 30px;
        flex-grow: 1;

    }
    .topsong-wrapper {
        justify-content: center;
    }
    .extra-control {
        display: none;
    }
    .audio-control-bar {
        justify-content: center;
    }
}
@media screen and (max-width: 900px) {
    .input-edit input {
        width: 95%;
    }
    .search-box {
        flex-grow: 2;
    }
    .progress__total {
        width: 530px;
    }
}
@media screen and (max-width: 670px) {
    .song-detail-header,
    .song-detail-background {
        height: 600px;
    }

    .song-detail-header::before {
        height: 600px;
    }
    .song-detail {
        display: block;
        left: 105px;
    }
    .song-detail-main {
        padding: 10px 0;
    }
    .song-detail-image {
        text-align: center;
    }
    .song-detail-lyric,
    .song-detail-extra-wrapper {
        margin: 30px;
    }
    .song-detail-extra-wrapper {
        flex-wrap: wrap;
    }
    .lyric {
        padding: 30px;
        font-size: 1em;
    }
    .song-detail-icon-box {
        justify-content: space-between;
    }
    .btn-signin {
        display: flex;
        width: 220px;
        padding: 0 10px;
    }
    .auth-box {
        margin: 15px 0;
    }
    .signin-link {
        line-height: 50px;
    }
    .newrelease-wrapper {
        justify-content: center;
    }
    .tab-pane-block {
        font-size: 0.7em;
    }
    .notifications-container, .change-theme-container {
        margin: 0 3px;
    }

    /* Category */
    .category-wrapper {
        justify-content: center!important;
    }
    .category-image {
        width: 100%;
    }
    .category-text-box {
        padding: 30px 60px;
    }

    /* Login */
    .signinup-container {
        width: 100%;
        justify-content: center;
    }
    .signinup-wrapper {
        display: block;
        overflow: hidden;
    }
    .image-container {
        display: none;
    }
    .signinup-input input {
        width: auto;
    }
    .form-container {
        padding: 0 10px;
        margin: 50px 0;
    }
    .form-wrapper {
        padding: 100px 15px;
    }

    /* Player */
    .progress__total {
        width: 300px;
    }
}
@media screen and (max-width: 450px) {
    .song-detail {
        left: 75px;
    }
    .song-detail-comment-box {
        padding: 20px 15px;
    }
    .form-comment {
        padding: 20px 15px 10px 15px;
    }
    .song-comment-avatar img {
        width: 50px;
        height: 50px;
    }
    hr {
        margin: 0 15px;
    }
    .topsong-title {
        font-size: 0.9em;
    }
    .carousel-wrapper {
        padding: 30px 20px 0 20px;
    }
    .topsong-container {
        padding: 20px 28px;
    }

    /* Player */
    .progress__total {
        width: 220px;
    }

    /* Comment */
    .song-comment-content {
        padding: 5px 0;
    }
}