
:root {
    --blue-color: #73c6d9;
    --light-green: #73d99f;
    --light-dark: #4a525f;
    --black: rgb(8, 8, 8);
    --white: #fff;
    --light-info: #fbfcff;
    --light-gray: #4a525f;
}
body {
    overflow: hidden;
}
.signinup-wrapper {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.image-container {
    text-align: center;
}
.image-container img {
    width: 800px;
    height: 600px;
    pointer-events: none;
}
.form-container {
    padding: 0 50px;
}
.form-wrapper,
.form-signup-wrapper {
    padding: 100px 30px;
    border-radius: 5px;
    border: solid 1px rgba(0 0 0 /5%);
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
}
.form-signup-wrapper {
    padding: 60px 30px;
}
.form-title {
    text-align: center;
    font-size: 1.6em;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: var(--light-green);
}
.signinup-input {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
}
.signinup-input label {
    margin: 5px 0;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    color: var(--light-green);
    font-weight: 600;
}
.signinup-input input {
    padding: 12px 10px;
    border: solid 1px rgba(0 0 0 /20%);
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    color: rgba(0 0 0 /50%);
    width: 450px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 5%);
    transition: all 0.3s ease;
}
.signinup-input input:focus {
    border: solid 2px var(--light-green);
    transition: all 0.3s ease;
}
.btn-signin-form {
    padding: 20px 0;
}
.btn-signin-form button{
    width: 100%;
    height: 40px;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    background: var(--light-green);
    color: var(--white);
    border-radius: 5px;
    border: none;
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
    cursor: pointer;
    font-weight: bold;
    outline: none;
}
.signinup-status {
    padding: 5px;
    text-align: center;
    font-size: 1em;
    color: var(--light-gray);
    font-family: 'Poppins', sans-serif;
}
.signinup-status a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: var(--light-green);
}
.ri-google-fill {
    line-height: 35px;
    font-size: 2em;
    background: 
    linear-gradient(to bottom left,transparent 49%,#fbbc05 50%) 0 25%/48% 40%,
    linear-gradient(to top    left,transparent 49%,#fbbc05 50%) 0 75%/48% 40%,
  
    linear-gradient(-40deg ,transparent 53%,#ea4335 54%),
    linear-gradient( 45deg ,transparent 46%,#4285f4 48%),
    #34a853;
    background-repeat:no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
.icon-error {
    position: absolute;
    right: 10px;
    top: 60px;
    font-size: 1.2em;
    color: #f53649;
    display: none;
}
.signinup-input.error .icon-error {
    display: block;
}
.signinup-input.error input {
    border: solid 1px #f53649;
    color: #f53649;
}
.signinup-input.error input:focus {
    border: solid 2px var(--light-green);
    color: rgba(0 0 0 /50%);
}
.show-error-container {
    border-left: solid 3px #f53649;
    margin: 20px 0;
}
.show-error-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    color: #f53649;
    background: #faf1f1;
}
.icon-warning {
    font-weight: normal;
    font-size: 1.2em;
}
.signin-with-gg-container {
    margin: 20px 0;
    padding: 7px ;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    cursor: pointer;
    background: cornflowerblue;
    border-radius: 5px;
}
.signin-with-gg-text {
    padding: 0 10px;
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    /* font-weight: bold; */
    flex-grow: 2;
    text-align: center;
    margin-right: 30px;
    font-size: 1.1em;
}
.signin-with-gg-icon {
    padding: 3.5px;
    background: var(--white);
    border-radius: 5px;
}