<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
        <title>Error</title>
    </head>
    <body>
        <div class="error-container">
            <div class="error-wrapper">
                <img src="/images/404error.svg" alt="" class="image-404">
                <span>Oops!!! Page not found</span>
                <a href="/" class="btn-back-home">
                    <!-- <i class="ri-home-4-line"></i>
                    <span>Back to home</span> -->
                    <button>
                        <i class="ri-home-4-line"></i>
                        Back to home
                    </button>
                </a>
            </div>
        </div>
    </body>
</html>